invesalius/*.classpath
invesalius/*.hg
invesalius/*.log
invesalius/*.project
invesalius/*.pyc
invesalius/*.swn
invesalius/*.swo
invesalius/*.swp
invesalius/data/*.log
invesalius/data/*.pyc
invesalius/gui/*.log
invesalius/gui/*.pyc
invesalius/gui/widgets/*.log
invesalius/gui/widgets/*.pyc
invesalius/reader/*.log
invesalius/reader/*.pyc

.idea

*.pyc
*.swp
*.so
tags
*.c

build
*.patch
*.tgz

*.pyd
*.cpp
*.diff

*.directory
