* text=auto !eol
/AUTHORS.txt -text
/HEADER.txt -text
/INSTALL.txt -text
/LICENSE-pt.txt -text
/LICENSE.txt -text
/NEWS.txt -text
/README.txt -text
/TODO -text
/TODO.txt -text
docs/devel/example_closure.py -text
docs/devel/example_pubsub.py -text
docs/devel/example_singleton.py -text
docs/devel/example_singleton_pubsub.py -text
docs/devel/sendmessages.txt -text
docs/devel/subscribes.txt -text
i18n/de.po -text
i18n/el.po -text
i18n/en.po -text
i18n/es.po -text
i18n/fr.po -text
i18n/it.po -text
i18n/nl.po -text
i18n/pt_BR.po -text
i18n/pt_PT.po -text
i18n/ro_RO.po -text
i18n/ru.po -text
i18n/sd_IN.po -text
i18n/tr_TR.po -text
i18n/zh_CN.po -text
i18n/zh_TW.po -text
icons/Floppy.png -text
icons/annotation.png -text
icons/brush_circle.jpg -text
icons/brush_square.jpg -text
icons/cross.png -text
icons/cross_original.png -text
icons/en_GB.bmp -text
icons/es.bmp -text
icons/file_export.png -text
icons/file_from_internet.png -text
icons/file_from_internet_original.png -text
icons/file_import.png -text
icons/file_import_original.png -text
icons/file_open.png -text
icons/file_open_original.png -text
icons/file_save.png -text
icons/file_save_original.png -text
icons/invesalius.ico -text
icons/layout_data_only.gif -text
icons/layout_data_only.png -text
icons/layout_data_only_original.gif -text
icons/layout_data_only_original.png -text
icons/layout_full.gif -text
icons/layout_full.png -text
icons/layout_full_original.gif -text
icons/layout_full_original.png -text
icons/mask.png -text
icons/mask_small.png -text
icons/measure_angle.jpg -text
icons/measure_angle_original.jpg -text
icons/measure_line.png -text
icons/measure_line_original.png -text
icons/object_add.gif -text
icons/object_add.png -text
icons/object_add_original.png -text
icons/object_colour.jpg -text
icons/object_invisible.jpg -text
icons/object_remove.gif -text
icons/object_remove.png -text
icons/object_remove_original.png -text
icons/object_visible.jpg -text
icons/print.png -text
icons/print_original.png -text
icons/pt_BR.bmp -text
icons/show_task.png -text
icons/show_task_min.png -text
icons/slice.png -text
icons/slice_original.png -text
icons/slice_plane.png -text
icons/slice_plane_original.png -text
icons/splash_en.png -text
icons/splash_es.png -text
icons/splash_pt.png -text
icons/surface_export.png -text
icons/surface_export_original.png -text
icons/text.gif -text
icons/text.png -text
icons/text_inverted.png -text
icons/text_inverted_original.png -text
icons/text_original.png -text
icons/tool_annotation.png -text
icons/tool_annotation_original.png -text
icons/tool_contrast.png -text
icons/tool_contrast_original.png -text
icons/tool_photo.png -text
icons/tool_photo_original.png -text
icons/tool_rotate.gif -text
icons/tool_rotate_original.gif -text
icons/tool_rotate_original.png -text
icons/tool_translate.gif -text
icons/tool_translate_original.png -text
icons/tool_zoom.png -text
icons/tool_zoom_in.png -text
icons/tool_zoom_in_original.png -text
icons/tool_zoom_original.png -text
icons/tool_zoom_out.png -text
icons/tool_zoom_out_original.png -text
icons/tool_zoom_select.png -text
icons/tool_zoom_select_original.png -text
icons/view_back.png -text
icons/view_bottom.png -text
icons/view_front.png -text
icons/view_isometric.png -text
icons/view_left.png -text
icons/view_right.png -text
icons/view_top.png -text
icons/volume_raycasting.png -text
icons/volume_raycasting_original.png -text
invesalius/.svnignore -text
invesalius/constants.py -text
invesalius/control.py -text
invesalius/data/__init__.py -text
invesalius/data/cursor_actors.py -text
invesalius/data/editor.py -text
invesalius/data/imagedata_utils.py -text
invesalius/data/mask.py -text
invesalius/data/orientation.py -text
invesalius/data/polydata_utils.py -text
invesalius/data/slice_.py -text
invesalius/data/slice_data.py -text
invesalius/data/styles.py -text
invesalius/data/surface.py -text
invesalius/data/surface_process.py -text
invesalius/data/viewer.py -text
invesalius/data/viewer_slice.py -text
invesalius/data/viewer_volume.py -text
invesalius/data/volume.py -text
invesalius/data/volume_widgets.py -text
invesalius/data/vtk_utils.py -text
invesalius/gui/__init__.py -text
invesalius/gui/data_notebook.py -text
invesalius/gui/default_tasks.py -text
invesalius/gui/default_viewers.py -text
invesalius/gui/dialogs.py -text
invesalius/gui/dicom_preview_panel.py -text
invesalius/gui/frame.py -text
invesalius/gui/import_panel.py -text
invesalius/gui/language_dialog.py -text
invesalius/gui/task_exporter.py -text
invesalius/gui/task_generic.py -text
invesalius/gui/task_importer.py -text
invesalius/gui/task_slice.py -text
invesalius/gui/task_surface.py -text
invesalius/gui/task_tools.py -text
invesalius/gui/widgets/__init__.py -text
invesalius/gui/widgets/clut_raycasting.py -text
invesalius/gui/widgets/colourselect.py -text
invesalius/gui/widgets/foldpanelbar.py -text
invesalius/gui/widgets/gradient.py -text
invesalius/gui/widgets/listctrl.py -text
invesalius/gui/widgets/platebtn.py -text
invesalius/gui/widgets/slice_menu.py -text
invesalius/i18n.py -text
invesalius/invesalius.py -text
invesalius/presets.py -text
invesalius/project.py -text
invesalius/reader/__init__.py -text
invesalius/reader/analyze_reader.py -text
invesalius/reader/dicom.py -text
invesalius/reader/dicom_grouper.py -text
invesalius/reader/dicom_reader.py -text
invesalius/session.py -text
invesalius/style.py -text
invesalius/utils.py -text
invesalius/version.py -text
locale/de/LC_MESSAGES/invesalius.mo -text
locale/el/LC_MESSAGES/invesalius.mo -text
locale/en/LC_MESSAGES/invesalius.mo -text
locale/es/LC_MESSAGES/invesalius.mo -text
locale/fr/LC_MESSAGES/invesalius.mo -text
locale/it/LC_MESSAGES/invesalius.mo -text
locale/nl/LC_MESSAGES/invesalius.mo -text
locale/pt_BR/LC_MESSAGES/invesalius.mo -text
locale/pt_PT/LC_MESSAGES/invesalius.mo -text
locale/ro_RO/LC_MESSAGES/invesalius.mo -text
locale/ru/LC_MESSAGES/invesalius.mo -text
locale/sd_IN/LC_MESSAGES/invesalius.mo -text
locale/tr_TR/LC_MESSAGES/invesalius.mo -text
locale/zh_CN/LC_MESSAGES/invesalius.mo -text
locale/zh_TW/LC_MESSAGES/invesalius.mo -text
presets/raycasting/Airways[!!-~]II.plist -text
presets/raycasting/Airways.plist -text
presets/raycasting/Black[!!-~]&[!!-~]White.plist -text
presets/raycasting/Bone[!!-~]+[!!-~]Skin[!!-~]II.plist -text
presets/raycasting/Bone[!!-~]+[!!-~]Skin.plist -text
presets/raycasting/Dark[!!-~]Bone.plist -text
presets/raycasting/Glossy[!!-~]II.plist -text
presets/raycasting/Glossy.plist -text
presets/raycasting/Gold[!!-~]Bone.plist -text
presets/raycasting/High[!!-~]Contrast.plist -text
presets/raycasting/Low[!!-~]Contrast.plist -text
presets/raycasting/MIP.plist -text
presets/raycasting/Mid[!!-~]Contrast.plist -text
presets/raycasting/No[!!-~]Shading.plist -text
presets/raycasting/Pencil.plist -text
presets/raycasting/Red[!!-~]on[!!-~]White.plist -text
presets/raycasting/Skin[!!-~]On[!!-~]Blue[!!-~]II.plist -text
presets/raycasting/Skin[!!-~]On[!!-~]Blue.plist -text
presets/raycasting/Soft[!!-~]+[!!-~]Skin[!!-~]II.plist -text
presets/raycasting/Soft[!!-~]+[!!-~]Skin[!!-~]III.plist -text
presets/raycasting/Soft[!!-~]+[!!-~]Skin.plist -text
presets/raycasting/Soft[!!-~]On[!!-~]Blue.plist -text
presets/raycasting/Soft[!!-~]on[!!-~]White.plist -text
presets/raycasting/Soft.plist -text
presets/raycasting/Standard.plist -text
presets/raycasting/Vascular[!!-~]II.plist -text
presets/raycasting/Vascular[!!-~]III.plist -text
presets/raycasting/Vascular[!!-~]IV.plist -text
presets/raycasting/Vascular.plist -text
presets/raycasting/Yellow[!!-~]Bone.plist -text
presets/raycasting/color_list/32bit[!!-~]shell-Info.plist -text
presets/raycasting/color_list/BlackBody.plist -text
presets/raycasting/color_list/Cardiac.plist -text
presets/raycasting/color_list/Deployment-Info.plist -text
presets/raycasting/color_list/Deployment-InfoVP.plist -text
presets/raycasting/color_list/Flow.plist -text
presets/raycasting/color_list/GEcolor.plist -text
presets/raycasting/color_list/GrayRainbow.plist -text
presets/raycasting/color_list/HotGreen.plist -text
presets/raycasting/color_list/HotIron.plist -text
presets/raycasting/color_list/HotMetal.plist -text
presets/raycasting/color_list/Hue1.plist -text
presets/raycasting/color_list/Hue2.plist -text
presets/raycasting/color_list/Jet.plist -text
presets/raycasting/color_list/NIH.plist -text
presets/raycasting/color_list/Rainbow.plist -text
presets/raycasting/color_list/Rainbow2.plist -text
presets/raycasting/color_list/Rainbow3.plist -text
presets/raycasting/color_list/Ratio.plist -text
presets/raycasting/color_list/Spectrum.plist -text
presets/raycasting/color_list/Stern.plist -text
presets/raycasting/color_list/UCLA.plist -text
presets/raycasting/color_list/VR[!!-~]Bones.plist -text
presets/raycasting/color_list/VR[!!-~]Muscles-Bones.plist -text
presets/raycasting/color_list/VR[!!-~]Red[!!-~]Vessels.plist -text
presets/raycasting/color_list/dicomDictionary.plist -text
presets/raycasting/color_list/ired.plist -text
samples/Cranium.inv3 -text
