* text=auto !eol
/AUTHORS.txt -text
/HEADER.txt -text
/INSTALL.txt -text
/LICENSE-pt.txt -text
/LICENSE.txt -text
/NEWS.txt -text
/README.txt -text
/TODO.txt -text
docs/devel/example_closure.py -text
docs/devel/example_pubsub.py -text
docs/devel/example_singleton.py -text
docs/devel/example_singleton_pubsub.py -text
docs/devel/sendmessages.txt -text
docs/devel/subscribes.txt -text
icons/annotation.png -text
icons/brush_circle.jpg -text
icons/brush_square.jpg -text
icons/file_export.png -text
icons/file_from_internet.png -text
icons/file_import.png -text
icons/file_save.png -text
icons/invesalius.ico -text
icons/layout_data_only.gif -text
icons/layout_data_only.png -text
icons/layout_full.gif -text
icons/layout_full.png -text
icons/measure_angle.jpg -text
icons/measure_line.png -text
icons/object_add.gif -text
icons/object_add.png -text
icons/object_colour.jpg -text
icons/object_invisible.jpg -text
icons/object_remove.gif -text
icons/object_visible.jpg -text
icons/tool_photo.png -text
icons/tool_print.png -text
icons/tool_rotate.gif -text
icons/tool_translate.gif -text
icons/tool_zoom.png -text
invesalius/constants.py -text
invesalius/control.py -text
invesalius/data/__init__.py -text
invesalius/data/editor.py -text
invesalius/data/imagedata_utils.py -text
invesalius/data/mask.py -text
invesalius/data/orientation.py -text
invesalius/data/polydata_utils.py -text
invesalius/data/slice_.py -text
invesalius/data/styles.py -text
invesalius/data/surface.py -text
invesalius/data/viewer.py -text
invesalius/data/viewer_slice.py -text
invesalius/data/viewer_volume.py -text
invesalius/data/volume.py -text
invesalius/data/volume_widgets.py -text
invesalius/data/vtk_utils.py -text
invesalius/gui/__init__.py -text
invesalius/gui/data_notebook.py -text
invesalius/gui/default_tasks.py -text
invesalius/gui/default_viewers.py -text
invesalius/gui/frame.py -text
invesalius/gui/import_data_wizard.py -text
invesalius/gui/task_exporter.py -text
invesalius/gui/task_generic.py -text
invesalius/gui/task_importer.py -text
invesalius/gui/task_slice.py -text
invesalius/gui/task_surface.py -text
invesalius/gui/task_tools.py -text
invesalius/gui/widgets/__init__.py -text
invesalius/gui/widgets/foldpanelbar.py -text
invesalius/gui/widgets/gradient.py -text
invesalius/gui/widgets/listctrl.py -text
invesalius/invesalius.py -text
invesalius/presets.py -text
invesalius/project.py -text
invesalius/reader/__init__.py -text
invesalius/reader/analyze_reader.py -text
invesalius/reader/dicom.py -text
invesalius/reader/dicom_grouper.py -text
invesalius/reader/dicom_reader.py -text
invesalius/utils.py -text
