# Scientific
numpy==1.26.4
scipy==1.14.0
matplotlib==3.9.0

# Image Processing
Pillow==10.3.0
imageio==2.34.2
nibabel==5.2.1
scikit-image==0.24.0
python-gdcm==3.0.24
vtk==9.3.0

# Machine Learning
torch==2.3.1

# Utilities
Cython==3.0.10
Pypubsub==4.0.3
h5py==3.11.0
psutil==6.0.0
pyserial==3.5
wxPython==4.2.2
pyacvd==0.2.11
optitrack ; python_version == "3.8" and sys_platform == "windows"
pyclaron ; python_version == "3.8" and sys_platform == "windows"

# Testing
pytest==8.3.5
pytest-mock==3.14.0
