<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Blue</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>6</integer>
		<integer>9</integer>
		<integer>12</integer>
		<integer>15</integer>
		<integer>18</integer>
		<integer>21</integer>
		<integer>24</integer>
		<integer>27</integer>
		<integer>30</integer>
		<integer>33</integer>
		<integer>36</integer>
		<integer>39</integer>
		<integer>42</integer>
		<integer>45</integer>
		<integer>48</integer>
		<integer>51</integer>
		<integer>54</integer>
		<integer>57</integer>
		<integer>60</integer>
		<integer>63</integer>
		<integer>66</integer>
		<integer>69</integer>
		<integer>72</integer>
		<integer>75</integer>
		<integer>78</integer>
		<integer>81</integer>
		<integer>84</integer>
		<integer>87</integer>
		<integer>90</integer>
		<integer>93</integer>
		<integer>96</integer>
		<integer>99</integer>
		<integer>102</integer>
		<integer>105</integer>
		<integer>108</integer>
		<integer>111</integer>
		<integer>114</integer>
		<integer>117</integer>
		<integer>120</integer>
		<integer>123</integer>
		<integer>126</integer>
		<integer>129</integer>
		<integer>132</integer>
		<integer>135</integer>
		<integer>138</integer>
		<integer>141</integer>
		<integer>144</integer>
		<integer>147</integer>
		<integer>150</integer>
		<integer>153</integer>
		<integer>156</integer>
		<integer>159</integer>
		<integer>162</integer>
		<integer>165</integer>
		<integer>168</integer>
		<integer>171</integer>
		<integer>174</integer>
		<integer>177</integer>
		<integer>180</integer>
		<integer>183</integer>
		<integer>186</integer>
		<integer>189</integer>
		<integer>192</integer>
		<integer>195</integer>
		<integer>198</integer>
		<integer>201</integer>
		<integer>204</integer>
		<integer>207</integer>
		<integer>210</integer>
		<integer>213</integer>
		<integer>216</integer>
		<integer>219</integer>
		<integer>222</integer>
		<integer>225</integer>
		<integer>228</integer>
		<integer>231</integer>
		<integer>234</integer>
		<integer>237</integer>
		<integer>240</integer>
		<integer>243</integer>
		<integer>246</integer>
		<integer>249</integer>
		<integer>252</integer>
		<integer>255</integer>
	</array>
	<key>Green</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>3</integer>
		<integer>6</integer>
		<integer>9</integer>
		<integer>12</integer>
		<integer>15</integer>
		<integer>18</integer>
		<integer>21</integer>
		<integer>24</integer>
		<integer>27</integer>
		<integer>30</integer>
		<integer>33</integer>
		<integer>36</integer>
		<integer>39</integer>
		<integer>42</integer>
		<integer>45</integer>
		<integer>48</integer>
		<integer>51</integer>
		<integer>54</integer>
		<integer>57</integer>
		<integer>60</integer>
		<integer>63</integer>
		<integer>66</integer>
		<integer>69</integer>
		<integer>72</integer>
		<integer>75</integer>
		<integer>78</integer>
		<integer>81</integer>
		<integer>84</integer>
		<integer>87</integer>
		<integer>90</integer>
		<integer>93</integer>
		<integer>96</integer>
		<integer>99</integer>
		<integer>102</integer>
		<integer>105</integer>
		<integer>108</integer>
		<integer>111</integer>
		<integer>114</integer>
		<integer>117</integer>
		<integer>120</integer>
		<integer>123</integer>
		<integer>126</integer>
		<integer>129</integer>
		<integer>132</integer>
		<integer>135</integer>
		<integer>138</integer>
		<integer>141</integer>
		<integer>144</integer>
		<integer>147</integer>
		<integer>150</integer>
		<integer>153</integer>
		<integer>156</integer>
		<integer>159</integer>
		<integer>162</integer>
		<integer>165</integer>
		<integer>168</integer>
		<integer>171</integer>
		<integer>174</integer>
		<integer>177</integer>
		<integer>180</integer>
		<integer>183</integer>
		<integer>186</integer>
		<integer>189</integer>
		<integer>192</integer>
		<integer>195</integer>
		<integer>198</integer>
		<integer>201</integer>
		<integer>204</integer>
		<integer>207</integer>
		<integer>210</integer>
		<integer>213</integer>
		<integer>216</integer>
		<integer>219</integer>
		<integer>222</integer>
		<integer>225</integer>
		<integer>228</integer>
		<integer>231</integer>
		<integer>234</integer>
		<integer>237</integer>
		<integer>240</integer>
		<integer>243</integer>
		<integer>246</integer>
		<integer>249</integer>
		<integer>252</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
	<key>Red</key>
	<array>
		<integer>0</integer>
		<integer>3</integer>
		<integer>6</integer>
		<integer>9</integer>
		<integer>12</integer>
		<integer>15</integer>
		<integer>18</integer>
		<integer>21</integer>
		<integer>24</integer>
		<integer>27</integer>
		<integer>30</integer>
		<integer>33</integer>
		<integer>36</integer>
		<integer>39</integer>
		<integer>42</integer>
		<integer>45</integer>
		<integer>48</integer>
		<integer>51</integer>
		<integer>54</integer>
		<integer>57</integer>
		<integer>60</integer>
		<integer>63</integer>
		<integer>66</integer>
		<integer>69</integer>
		<integer>72</integer>
		<integer>75</integer>
		<integer>78</integer>
		<integer>81</integer>
		<integer>84</integer>
		<integer>87</integer>
		<integer>90</integer>
		<integer>93</integer>
		<integer>96</integer>
		<integer>99</integer>
		<integer>102</integer>
		<integer>105</integer>
		<integer>108</integer>
		<integer>111</integer>
		<integer>114</integer>
		<integer>117</integer>
		<integer>120</integer>
		<integer>123</integer>
		<integer>126</integer>
		<integer>129</integer>
		<integer>132</integer>
		<integer>135</integer>
		<integer>138</integer>
		<integer>141</integer>
		<integer>144</integer>
		<integer>147</integer>
		<integer>150</integer>
		<integer>153</integer>
		<integer>156</integer>
		<integer>159</integer>
		<integer>162</integer>
		<integer>165</integer>
		<integer>168</integer>
		<integer>171</integer>
		<integer>174</integer>
		<integer>177</integer>
		<integer>180</integer>
		<integer>183</integer>
		<integer>186</integer>
		<integer>189</integer>
		<integer>192</integer>
		<integer>195</integer>
		<integer>198</integer>
		<integer>201</integer>
		<integer>204</integer>
		<integer>207</integer>
		<integer>210</integer>
		<integer>213</integer>
		<integer>216</integer>
		<integer>219</integer>
		<integer>222</integer>
		<integer>225</integer>
		<integer>228</integer>
		<integer>231</integer>
		<integer>234</integer>
		<integer>237</integer>
		<integer>240</integer>
		<integer>243</integer>
		<integer>246</integer>
		<integer>249</integer>
		<integer>252</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
</dict>
</plist>
