<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Blue</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>10</integer>
		<integer>11</integer>
		<integer>12</integer>
		<integer>13</integer>
		<integer>14</integer>
		<integer>15</integer>
		<integer>255</integer>
		<integer>17</integer>
		<integer>18</integer>
		<integer>19</integer>
		<integer>20</integer>
		<integer>21</integer>
		<integer>22</integer>
		<integer>23</integer>
		<integer>24</integer>
		<integer>25</integer>
		<integer>26</integer>
		<integer>27</integer>
		<integer>28</integer>
		<integer>29</integer>
		<integer>30</integer>
		<integer>31</integer>
		<integer>255</integer>
		<integer>33</integer>
		<integer>34</integer>
		<integer>35</integer>
		<integer>36</integer>
		<integer>37</integer>
		<integer>38</integer>
		<integer>39</integer>
		<integer>40</integer>
		<integer>41</integer>
		<integer>42</integer>
		<integer>43</integer>
		<integer>44</integer>
		<integer>45</integer>
		<integer>46</integer>
		<integer>47</integer>
		<integer>255</integer>
		<integer>49</integer>
		<integer>50</integer>
		<integer>51</integer>
		<integer>52</integer>
		<integer>53</integer>
		<integer>54</integer>
		<integer>55</integer>
		<integer>56</integer>
		<integer>57</integer>
		<integer>58</integer>
		<integer>59</integer>
		<integer>60</integer>
		<integer>61</integer>
		<integer>62</integer>
		<integer>63</integer>
		<integer>255</integer>
		<integer>65</integer>
		<integer>66</integer>
		<integer>67</integer>
		<integer>68</integer>
		<integer>69</integer>
		<integer>70</integer>
		<integer>71</integer>
		<integer>72</integer>
		<integer>73</integer>
		<integer>74</integer>
		<integer>75</integer>
		<integer>76</integer>
		<integer>77</integer>
		<integer>78</integer>
		<integer>79</integer>
		<integer>255</integer>
		<integer>81</integer>
		<integer>82</integer>
		<integer>83</integer>
		<integer>84</integer>
		<integer>85</integer>
		<integer>86</integer>
		<integer>87</integer>
		<integer>88</integer>
		<integer>89</integer>
		<integer>90</integer>
		<integer>91</integer>
		<integer>92</integer>
		<integer>93</integer>
		<integer>94</integer>
		<integer>95</integer>
		<integer>255</integer>
		<integer>97</integer>
		<integer>98</integer>
		<integer>99</integer>
		<integer>100</integer>
		<integer>101</integer>
		<integer>102</integer>
		<integer>103</integer>
		<integer>104</integer>
		<integer>105</integer>
		<integer>106</integer>
		<integer>107</integer>
		<integer>108</integer>
		<integer>109</integer>
		<integer>110</integer>
		<integer>111</integer>
		<integer>205</integer>
		<integer>113</integer>
		<integer>114</integer>
		<integer>115</integer>
		<integer>116</integer>
		<integer>117</integer>
		<integer>118</integer>
		<integer>119</integer>
		<integer>120</integer>
		<integer>121</integer>
		<integer>122</integer>
		<integer>123</integer>
		<integer>124</integer>
		<integer>125</integer>
		<integer>126</integer>
		<integer>127</integer>
		<integer>125</integer>
		<integer>129</integer>
		<integer>130</integer>
		<integer>131</integer>
		<integer>132</integer>
		<integer>133</integer>
		<integer>134</integer>
		<integer>135</integer>
		<integer>136</integer>
		<integer>137</integer>
		<integer>138</integer>
		<integer>139</integer>
		<integer>140</integer>
		<integer>141</integer>
		<integer>142</integer>
		<integer>143</integer>
		<integer>45</integer>
		<integer>145</integer>
		<integer>146</integer>
		<integer>147</integer>
		<integer>148</integer>
		<integer>149</integer>
		<integer>150</integer>
		<integer>151</integer>
		<integer>152</integer>
		<integer>153</integer>
		<integer>154</integer>
		<integer>155</integer>
		<integer>156</integer>
		<integer>157</integer>
		<integer>158</integer>
		<integer>159</integer>
		<integer>0</integer>
		<integer>161</integer>
		<integer>162</integer>
		<integer>163</integer>
		<integer>164</integer>
		<integer>165</integer>
		<integer>166</integer>
		<integer>167</integer>
		<integer>168</integer>
		<integer>169</integer>
		<integer>170</integer>
		<integer>171</integer>
		<integer>172</integer>
		<integer>173</integer>
		<integer>174</integer>
		<integer>175</integer>
		<integer>0</integer>
		<integer>177</integer>
		<integer>178</integer>
		<integer>179</integer>
		<integer>180</integer>
		<integer>181</integer>
		<integer>182</integer>
		<integer>183</integer>
		<integer>184</integer>
		<integer>185</integer>
		<integer>186</integer>
		<integer>187</integer>
		<integer>188</integer>
		<integer>189</integer>
		<integer>190</integer>
		<integer>191</integer>
		<integer>0</integer>
		<integer>193</integer>
		<integer>194</integer>
		<integer>195</integer>
		<integer>196</integer>
		<integer>197</integer>
		<integer>198</integer>
		<integer>199</integer>
		<integer>200</integer>
		<integer>201</integer>
		<integer>202</integer>
		<integer>203</integer>
		<integer>204</integer>
		<integer>205</integer>
		<integer>206</integer>
		<integer>207</integer>
		<integer>0</integer>
		<integer>209</integer>
		<integer>210</integer>
		<integer>211</integer>
		<integer>212</integer>
		<integer>213</integer>
		<integer>214</integer>
		<integer>215</integer>
		<integer>216</integer>
		<integer>217</integer>
		<integer>218</integer>
		<integer>219</integer>
		<integer>220</integer>
		<integer>221</integer>
		<integer>222</integer>
		<integer>223</integer>
		<integer>0</integer>
		<integer>225</integer>
		<integer>226</integer>
		<integer>227</integer>
		<integer>228</integer>
		<integer>229</integer>
		<integer>230</integer>
		<integer>231</integer>
		<integer>232</integer>
		<integer>233</integer>
		<integer>234</integer>
		<integer>235</integer>
		<integer>236</integer>
		<integer>237</integer>
		<integer>238</integer>
		<integer>239</integer>
		<integer>0</integer>
		<integer>241</integer>
		<integer>242</integer>
		<integer>243</integer>
		<integer>244</integer>
		<integer>245</integer>
		<integer>246</integer>
		<integer>247</integer>
		<integer>248</integer>
		<integer>249</integer>
		<integer>250</integer>
		<integer>251</integer>
		<integer>252</integer>
		<integer>253</integer>
		<integer>254</integer>
		<integer>255</integer>
	</array>
	<key>Green</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>10</integer>
		<integer>11</integer>
		<integer>12</integer>
		<integer>13</integer>
		<integer>14</integer>
		<integer>15</integer>
		<integer>0</integer>
		<integer>17</integer>
		<integer>18</integer>
		<integer>19</integer>
		<integer>20</integer>
		<integer>21</integer>
		<integer>22</integer>
		<integer>23</integer>
		<integer>24</integer>
		<integer>25</integer>
		<integer>26</integer>
		<integer>27</integer>
		<integer>28</integer>
		<integer>29</integer>
		<integer>30</integer>
		<integer>31</integer>
		<integer>0</integer>
		<integer>33</integer>
		<integer>34</integer>
		<integer>35</integer>
		<integer>36</integer>
		<integer>37</integer>
		<integer>38</integer>
		<integer>39</integer>
		<integer>40</integer>
		<integer>41</integer>
		<integer>42</integer>
		<integer>43</integer>
		<integer>44</integer>
		<integer>45</integer>
		<integer>46</integer>
		<integer>47</integer>
		<integer>0</integer>
		<integer>49</integer>
		<integer>50</integer>
		<integer>51</integer>
		<integer>52</integer>
		<integer>53</integer>
		<integer>54</integer>
		<integer>55</integer>
		<integer>56</integer>
		<integer>57</integer>
		<integer>58</integer>
		<integer>59</integer>
		<integer>60</integer>
		<integer>61</integer>
		<integer>62</integer>
		<integer>63</integer>
		<integer>65</integer>
		<integer>65</integer>
		<integer>66</integer>
		<integer>67</integer>
		<integer>68</integer>
		<integer>69</integer>
		<integer>70</integer>
		<integer>71</integer>
		<integer>72</integer>
		<integer>73</integer>
		<integer>74</integer>
		<integer>75</integer>
		<integer>76</integer>
		<integer>77</integer>
		<integer>78</integer>
		<integer>79</integer>
		<integer>145</integer>
		<integer>81</integer>
		<integer>82</integer>
		<integer>83</integer>
		<integer>84</integer>
		<integer>85</integer>
		<integer>86</integer>
		<integer>87</integer>
		<integer>88</integer>
		<integer>89</integer>
		<integer>90</integer>
		<integer>91</integer>
		<integer>92</integer>
		<integer>93</integer>
		<integer>94</integer>
		<integer>95</integer>
		<integer>225</integer>
		<integer>97</integer>
		<integer>98</integer>
		<integer>99</integer>
		<integer>100</integer>
		<integer>101</integer>
		<integer>102</integer>
		<integer>103</integer>
		<integer>104</integer>
		<integer>105</integer>
		<integer>106</integer>
		<integer>107</integer>
		<integer>108</integer>
		<integer>109</integer>
		<integer>110</integer>
		<integer>111</integer>
		<integer>255</integer>
		<integer>113</integer>
		<integer>114</integer>
		<integer>115</integer>
		<integer>116</integer>
		<integer>117</integer>
		<integer>118</integer>
		<integer>119</integer>
		<integer>120</integer>
		<integer>121</integer>
		<integer>122</integer>
		<integer>123</integer>
		<integer>124</integer>
		<integer>125</integer>
		<integer>126</integer>
		<integer>127</integer>
		<integer>255</integer>
		<integer>129</integer>
		<integer>130</integer>
		<integer>131</integer>
		<integer>132</integer>
		<integer>133</integer>
		<integer>134</integer>
		<integer>135</integer>
		<integer>136</integer>
		<integer>137</integer>
		<integer>138</integer>
		<integer>139</integer>
		<integer>140</integer>
		<integer>141</integer>
		<integer>142</integer>
		<integer>143</integer>
		<integer>255</integer>
		<integer>145</integer>
		<integer>146</integer>
		<integer>147</integer>
		<integer>148</integer>
		<integer>149</integer>
		<integer>150</integer>
		<integer>151</integer>
		<integer>152</integer>
		<integer>153</integer>
		<integer>154</integer>
		<integer>155</integer>
		<integer>156</integer>
		<integer>157</integer>
		<integer>158</integer>
		<integer>159</integer>
		<integer>255</integer>
		<integer>161</integer>
		<integer>162</integer>
		<integer>163</integer>
		<integer>164</integer>
		<integer>165</integer>
		<integer>166</integer>
		<integer>167</integer>
		<integer>168</integer>
		<integer>169</integer>
		<integer>170</integer>
		<integer>171</integer>
		<integer>172</integer>
		<integer>173</integer>
		<integer>174</integer>
		<integer>175</integer>
		<integer>255</integer>
		<integer>177</integer>
		<integer>178</integer>
		<integer>179</integer>
		<integer>180</integer>
		<integer>181</integer>
		<integer>182</integer>
		<integer>183</integer>
		<integer>184</integer>
		<integer>185</integer>
		<integer>186</integer>
		<integer>187</integer>
		<integer>188</integer>
		<integer>189</integer>
		<integer>190</integer>
		<integer>191</integer>
		<integer>255</integer>
		<integer>193</integer>
		<integer>194</integer>
		<integer>195</integer>
		<integer>196</integer>
		<integer>197</integer>
		<integer>198</integer>
		<integer>199</integer>
		<integer>200</integer>
		<integer>201</integer>
		<integer>202</integer>
		<integer>203</integer>
		<integer>204</integer>
		<integer>205</integer>
		<integer>206</integer>
		<integer>207</integer>
		<integer>235</integer>
		<integer>209</integer>
		<integer>210</integer>
		<integer>211</integer>
		<integer>212</integer>
		<integer>213</integer>
		<integer>214</integer>
		<integer>215</integer>
		<integer>216</integer>
		<integer>217</integer>
		<integer>218</integer>
		<integer>219</integer>
		<integer>220</integer>
		<integer>221</integer>
		<integer>222</integer>
		<integer>223</integer>
		<integer>155</integer>
		<integer>225</integer>
		<integer>226</integer>
		<integer>227</integer>
		<integer>228</integer>
		<integer>229</integer>
		<integer>230</integer>
		<integer>231</integer>
		<integer>232</integer>
		<integer>233</integer>
		<integer>234</integer>
		<integer>235</integer>
		<integer>236</integer>
		<integer>237</integer>
		<integer>238</integer>
		<integer>239</integer>
		<integer>75</integer>
		<integer>241</integer>
		<integer>242</integer>
		<integer>243</integer>
		<integer>244</integer>
		<integer>245</integer>
		<integer>246</integer>
		<integer>247</integer>
		<integer>248</integer>
		<integer>249</integer>
		<integer>250</integer>
		<integer>251</integer>
		<integer>252</integer>
		<integer>253</integer>
		<integer>254</integer>
		<integer>255</integer>
	</array>
	<key>Red</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>6</integer>
		<integer>7</integer>
		<integer>8</integer>
		<integer>9</integer>
		<integer>10</integer>
		<integer>11</integer>
		<integer>12</integer>
		<integer>13</integer>
		<integer>14</integer>
		<integer>15</integer>
		<integer>175</integer>
		<integer>17</integer>
		<integer>18</integer>
		<integer>19</integer>
		<integer>20</integer>
		<integer>21</integer>
		<integer>22</integer>
		<integer>23</integer>
		<integer>24</integer>
		<integer>25</integer>
		<integer>26</integer>
		<integer>27</integer>
		<integer>28</integer>
		<integer>29</integer>
		<integer>30</integer>
		<integer>31</integer>
		<integer>95</integer>
		<integer>33</integer>
		<integer>34</integer>
		<integer>35</integer>
		<integer>36</integer>
		<integer>37</integer>
		<integer>38</integer>
		<integer>39</integer>
		<integer>40</integer>
		<integer>41</integer>
		<integer>42</integer>
		<integer>43</integer>
		<integer>44</integer>
		<integer>45</integer>
		<integer>46</integer>
		<integer>47</integer>
		<integer>15</integer>
		<integer>49</integer>
		<integer>50</integer>
		<integer>51</integer>
		<integer>52</integer>
		<integer>53</integer>
		<integer>54</integer>
		<integer>55</integer>
		<integer>56</integer>
		<integer>57</integer>
		<integer>58</integer>
		<integer>59</integer>
		<integer>60</integer>
		<integer>61</integer>
		<integer>62</integer>
		<integer>63</integer>
		<integer>0</integer>
		<integer>65</integer>
		<integer>66</integer>
		<integer>67</integer>
		<integer>68</integer>
		<integer>69</integer>
		<integer>70</integer>
		<integer>71</integer>
		<integer>72</integer>
		<integer>73</integer>
		<integer>74</integer>
		<integer>75</integer>
		<integer>76</integer>
		<integer>77</integer>
		<integer>78</integer>
		<integer>79</integer>
		<integer>0</integer>
		<integer>81</integer>
		<integer>82</integer>
		<integer>83</integer>
		<integer>84</integer>
		<integer>85</integer>
		<integer>86</integer>
		<integer>87</integer>
		<integer>88</integer>
		<integer>89</integer>
		<integer>90</integer>
		<integer>91</integer>
		<integer>92</integer>
		<integer>93</integer>
		<integer>94</integer>
		<integer>95</integer>
		<integer>0</integer>
		<integer>97</integer>
		<integer>98</integer>
		<integer>99</integer>
		<integer>100</integer>
		<integer>101</integer>
		<integer>102</integer>
		<integer>103</integer>
		<integer>104</integer>
		<integer>105</integer>
		<integer>106</integer>
		<integer>107</integer>
		<integer>108</integer>
		<integer>109</integer>
		<integer>110</integer>
		<integer>111</integer>
		<integer>0</integer>
		<integer>113</integer>
		<integer>114</integer>
		<integer>115</integer>
		<integer>116</integer>
		<integer>117</integer>
		<integer>118</integer>
		<integer>119</integer>
		<integer>120</integer>
		<integer>121</integer>
		<integer>122</integer>
		<integer>123</integer>
		<integer>124</integer>
		<integer>125</integer>
		<integer>126</integer>
		<integer>127</integer>
		<integer>0</integer>
		<integer>129</integer>
		<integer>130</integer>
		<integer>131</integer>
		<integer>132</integer>
		<integer>133</integer>
		<integer>134</integer>
		<integer>135</integer>
		<integer>136</integer>
		<integer>137</integer>
		<integer>138</integer>
		<integer>139</integer>
		<integer>140</integer>
		<integer>141</integer>
		<integer>142</integer>
		<integer>143</integer>
		<integer>0</integer>
		<integer>145</integer>
		<integer>146</integer>
		<integer>147</integer>
		<integer>148</integer>
		<integer>149</integer>
		<integer>150</integer>
		<integer>151</integer>
		<integer>152</integer>
		<integer>153</integer>
		<integer>154</integer>
		<integer>155</integer>
		<integer>156</integer>
		<integer>157</integer>
		<integer>158</integer>
		<integer>159</integer>
		<integer>35</integer>
		<integer>161</integer>
		<integer>162</integer>
		<integer>163</integer>
		<integer>164</integer>
		<integer>165</integer>
		<integer>166</integer>
		<integer>167</integer>
		<integer>168</integer>
		<integer>169</integer>
		<integer>170</integer>
		<integer>171</integer>
		<integer>172</integer>
		<integer>173</integer>
		<integer>174</integer>
		<integer>175</integer>
		<integer>115</integer>
		<integer>177</integer>
		<integer>178</integer>
		<integer>179</integer>
		<integer>180</integer>
		<integer>181</integer>
		<integer>182</integer>
		<integer>183</integer>
		<integer>184</integer>
		<integer>185</integer>
		<integer>186</integer>
		<integer>187</integer>
		<integer>188</integer>
		<integer>189</integer>
		<integer>190</integer>
		<integer>191</integer>
		<integer>195</integer>
		<integer>193</integer>
		<integer>194</integer>
		<integer>195</integer>
		<integer>196</integer>
		<integer>197</integer>
		<integer>198</integer>
		<integer>199</integer>
		<integer>200</integer>
		<integer>201</integer>
		<integer>202</integer>
		<integer>203</integer>
		<integer>204</integer>
		<integer>205</integer>
		<integer>206</integer>
		<integer>207</integer>
		<integer>255</integer>
		<integer>209</integer>
		<integer>210</integer>
		<integer>211</integer>
		<integer>212</integer>
		<integer>213</integer>
		<integer>214</integer>
		<integer>215</integer>
		<integer>216</integer>
		<integer>217</integer>
		<integer>218</integer>
		<integer>219</integer>
		<integer>220</integer>
		<integer>221</integer>
		<integer>222</integer>
		<integer>223</integer>
		<integer>255</integer>
		<integer>225</integer>
		<integer>226</integer>
		<integer>227</integer>
		<integer>228</integer>
		<integer>229</integer>
		<integer>230</integer>
		<integer>231</integer>
		<integer>232</integer>
		<integer>233</integer>
		<integer>234</integer>
		<integer>235</integer>
		<integer>236</integer>
		<integer>237</integer>
		<integer>238</integer>
		<integer>239</integer>
		<integer>255</integer>
		<integer>241</integer>
		<integer>242</integer>
		<integer>243</integer>
		<integer>244</integer>
		<integer>245</integer>
		<integer>246</integer>
		<integer>247</integer>
		<integer>248</integer>
		<integer>249</integer>
		<integer>250</integer>
		<integer>251</integer>
		<integer>252</integer>
		<integer>253</integer>
		<integer>254</integer>
		<integer>255</integer>
	</array>
</dict>
</plist>
