<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Blue</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>8</integer>
		<integer>12</integer>
		<integer>16</integer>
		<integer>20</integer>
		<integer>24</integer>
		<integer>28</integer>
		<integer>32</integer>
		<integer>36</integer>
		<integer>40</integer>
		<integer>44</integer>
		<integer>48</integer>
		<integer>52</integer>
		<integer>56</integer>
		<integer>60</integer>
		<integer>64</integer>
		<integer>68</integer>
		<integer>72</integer>
		<integer>76</integer>
		<integer>80</integer>
		<integer>84</integer>
		<integer>88</integer>
		<integer>92</integer>
		<integer>96</integer>
		<integer>100</integer>
		<integer>104</integer>
		<integer>108</integer>
		<integer>112</integer>
		<integer>116</integer>
		<integer>120</integer>
		<integer>124</integer>
		<integer>128</integer>
		<integer>132</integer>
		<integer>136</integer>
		<integer>140</integer>
		<integer>144</integer>
		<integer>148</integer>
		<integer>152</integer>
		<integer>156</integer>
		<integer>160</integer>
		<integer>164</integer>
		<integer>168</integer>
		<integer>172</integer>
		<integer>176</integer>
		<integer>180</integer>
		<integer>184</integer>
		<integer>188</integer>
		<integer>192</integer>
		<integer>196</integer>
		<integer>200</integer>
		<integer>204</integer>
		<integer>208</integer>
		<integer>212</integer>
		<integer>216</integer>
		<integer>220</integer>
		<integer>224</integer>
		<integer>228</integer>
		<integer>232</integer>
		<integer>236</integer>
		<integer>240</integer>
		<integer>244</integer>
		<integer>248</integer>
		<integer>252</integer>
		<integer>255</integer>
	</array>
	<key>Green</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>2</integer>
		<integer>4</integer>
		<integer>6</integer>
		<integer>8</integer>
		<integer>10</integer>
		<integer>12</integer>
		<integer>14</integer>
		<integer>16</integer>
		<integer>18</integer>
		<integer>20</integer>
		<integer>22</integer>
		<integer>24</integer>
		<integer>26</integer>
		<integer>28</integer>
		<integer>30</integer>
		<integer>32</integer>
		<integer>34</integer>
		<integer>36</integer>
		<integer>38</integer>
		<integer>40</integer>
		<integer>42</integer>
		<integer>44</integer>
		<integer>46</integer>
		<integer>48</integer>
		<integer>50</integer>
		<integer>52</integer>
		<integer>54</integer>
		<integer>56</integer>
		<integer>58</integer>
		<integer>60</integer>
		<integer>62</integer>
		<integer>64</integer>
		<integer>66</integer>
		<integer>68</integer>
		<integer>70</integer>
		<integer>72</integer>
		<integer>74</integer>
		<integer>76</integer>
		<integer>78</integer>
		<integer>80</integer>
		<integer>82</integer>
		<integer>84</integer>
		<integer>86</integer>
		<integer>88</integer>
		<integer>90</integer>
		<integer>92</integer>
		<integer>94</integer>
		<integer>96</integer>
		<integer>98</integer>
		<integer>100</integer>
		<integer>102</integer>
		<integer>104</integer>
		<integer>106</integer>
		<integer>108</integer>
		<integer>110</integer>
		<integer>112</integer>
		<integer>114</integer>
		<integer>116</integer>
		<integer>118</integer>
		<integer>120</integer>
		<integer>122</integer>
		<integer>124</integer>
		<integer>126</integer>
		<integer>128</integer>
		<integer>130</integer>
		<integer>132</integer>
		<integer>134</integer>
		<integer>136</integer>
		<integer>138</integer>
		<integer>140</integer>
		<integer>142</integer>
		<integer>144</integer>
		<integer>146</integer>
		<integer>148</integer>
		<integer>150</integer>
		<integer>152</integer>
		<integer>154</integer>
		<integer>156</integer>
		<integer>158</integer>
		<integer>160</integer>
		<integer>162</integer>
		<integer>164</integer>
		<integer>166</integer>
		<integer>168</integer>
		<integer>170</integer>
		<integer>172</integer>
		<integer>174</integer>
		<integer>176</integer>
		<integer>178</integer>
		<integer>180</integer>
		<integer>182</integer>
		<integer>184</integer>
		<integer>186</integer>
		<integer>188</integer>
		<integer>190</integer>
		<integer>192</integer>
		<integer>194</integer>
		<integer>196</integer>
		<integer>198</integer>
		<integer>200</integer>
		<integer>202</integer>
		<integer>204</integer>
		<integer>206</integer>
		<integer>208</integer>
		<integer>210</integer>
		<integer>212</integer>
		<integer>214</integer>
		<integer>216</integer>
		<integer>218</integer>
		<integer>220</integer>
		<integer>222</integer>
		<integer>224</integer>
		<integer>226</integer>
		<integer>228</integer>
		<integer>230</integer>
		<integer>232</integer>
		<integer>234</integer>
		<integer>236</integer>
		<integer>238</integer>
		<integer>240</integer>
		<integer>242</integer>
		<integer>244</integer>
		<integer>246</integer>
		<integer>248</integer>
		<integer>250</integer>
		<integer>252</integer>
		<integer>255</integer>
	</array>
	<key>Red</key>
	<array>
		<integer>0</integer>
		<integer>2</integer>
		<integer>4</integer>
		<integer>6</integer>
		<integer>8</integer>
		<integer>10</integer>
		<integer>12</integer>
		<integer>14</integer>
		<integer>16</integer>
		<integer>18</integer>
		<integer>20</integer>
		<integer>22</integer>
		<integer>24</integer>
		<integer>26</integer>
		<integer>28</integer>
		<integer>30</integer>
		<integer>32</integer>
		<integer>34</integer>
		<integer>36</integer>
		<integer>38</integer>
		<integer>40</integer>
		<integer>42</integer>
		<integer>44</integer>
		<integer>46</integer>
		<integer>48</integer>
		<integer>50</integer>
		<integer>52</integer>
		<integer>54</integer>
		<integer>56</integer>
		<integer>58</integer>
		<integer>60</integer>
		<integer>62</integer>
		<integer>64</integer>
		<integer>66</integer>
		<integer>68</integer>
		<integer>70</integer>
		<integer>72</integer>
		<integer>74</integer>
		<integer>76</integer>
		<integer>78</integer>
		<integer>80</integer>
		<integer>82</integer>
		<integer>84</integer>
		<integer>86</integer>
		<integer>88</integer>
		<integer>90</integer>
		<integer>92</integer>
		<integer>94</integer>
		<integer>96</integer>
		<integer>98</integer>
		<integer>100</integer>
		<integer>102</integer>
		<integer>104</integer>
		<integer>106</integer>
		<integer>108</integer>
		<integer>110</integer>
		<integer>112</integer>
		<integer>114</integer>
		<integer>116</integer>
		<integer>118</integer>
		<integer>120</integer>
		<integer>122</integer>
		<integer>124</integer>
		<integer>126</integer>
		<integer>128</integer>
		<integer>130</integer>
		<integer>132</integer>
		<integer>134</integer>
		<integer>136</integer>
		<integer>138</integer>
		<integer>140</integer>
		<integer>142</integer>
		<integer>144</integer>
		<integer>146</integer>
		<integer>148</integer>
		<integer>150</integer>
		<integer>152</integer>
		<integer>154</integer>
		<integer>156</integer>
		<integer>158</integer>
		<integer>160</integer>
		<integer>162</integer>
		<integer>164</integer>
		<integer>166</integer>
		<integer>168</integer>
		<integer>170</integer>
		<integer>172</integer>
		<integer>174</integer>
		<integer>176</integer>
		<integer>178</integer>
		<integer>180</integer>
		<integer>182</integer>
		<integer>184</integer>
		<integer>186</integer>
		<integer>188</integer>
		<integer>190</integer>
		<integer>192</integer>
		<integer>194</integer>
		<integer>196</integer>
		<integer>198</integer>
		<integer>200</integer>
		<integer>202</integer>
		<integer>204</integer>
		<integer>206</integer>
		<integer>208</integer>
		<integer>210</integer>
		<integer>212</integer>
		<integer>214</integer>
		<integer>216</integer>
		<integer>218</integer>
		<integer>220</integer>
		<integer>222</integer>
		<integer>224</integer>
		<integer>226</integer>
		<integer>228</integer>
		<integer>230</integer>
		<integer>232</integer>
		<integer>234</integer>
		<integer>236</integer>
		<integer>238</integer>
		<integer>240</integer>
		<integer>242</integer>
		<integer>244</integer>
		<integer>246</integer>
		<integer>248</integer>
		<integer>250</integer>
		<integer>252</integer>
		<integer>254</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
</dict>
</plist>
