<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Blue</key>
	<array>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>250</integer>
		<integer>245</integer>
		<integer>240</integer>
		<integer>235</integer>
		<integer>230</integer>
		<integer>225</integer>
		<integer>220</integer>
		<integer>215</integer>
		<integer>210</integer>
		<integer>205</integer>
		<integer>200</integer>
		<integer>195</integer>
		<integer>190</integer>
		<integer>185</integer>
		<integer>180</integer>
		<integer>175</integer>
		<integer>170</integer>
		<integer>165</integer>
		<integer>160</integer>
		<integer>155</integer>
		<integer>150</integer>
		<integer>145</integer>
		<integer>140</integer>
		<integer>135</integer>
		<integer>130</integer>
		<integer>125</integer>
		<integer>120</integer>
		<integer>115</integer>
		<integer>110</integer>
		<integer>105</integer>
		<integer>100</integer>
		<integer>95</integer>
		<integer>90</integer>
		<integer>85</integer>
		<integer>80</integer>
		<integer>75</integer>
		<integer>70</integer>
		<integer>65</integer>
		<integer>60</integer>
		<integer>55</integer>
		<integer>50</integer>
		<integer>45</integer>
		<integer>40</integer>
		<integer>35</integer>
		<integer>30</integer>
		<integer>25</integer>
		<integer>20</integer>
		<integer>15</integer>
		<integer>10</integer>
		<integer>5</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Green</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>10</integer>
		<integer>15</integer>
		<integer>20</integer>
		<integer>25</integer>
		<integer>30</integer>
		<integer>35</integer>
		<integer>40</integer>
		<integer>45</integer>
		<integer>50</integer>
		<integer>55</integer>
		<integer>60</integer>
		<integer>65</integer>
		<integer>70</integer>
		<integer>75</integer>
		<integer>80</integer>
		<integer>85</integer>
		<integer>90</integer>
		<integer>95</integer>
		<integer>100</integer>
		<integer>105</integer>
		<integer>110</integer>
		<integer>115</integer>
		<integer>120</integer>
		<integer>125</integer>
		<integer>130</integer>
		<integer>135</integer>
		<integer>140</integer>
		<integer>145</integer>
		<integer>150</integer>
		<integer>155</integer>
		<integer>160</integer>
		<integer>165</integer>
		<integer>170</integer>
		<integer>175</integer>
		<integer>180</integer>
		<integer>185</integer>
		<integer>190</integer>
		<integer>195</integer>
		<integer>200</integer>
		<integer>205</integer>
		<integer>210</integer>
		<integer>215</integer>
		<integer>220</integer>
		<integer>225</integer>
		<integer>230</integer>
		<integer>235</integer>
		<integer>240</integer>
		<integer>245</integer>
		<integer>251</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>250</integer>
		<integer>245</integer>
		<integer>240</integer>
		<integer>235</integer>
		<integer>230</integer>
		<integer>225</integer>
		<integer>220</integer>
		<integer>215</integer>
		<integer>210</integer>
		<integer>205</integer>
		<integer>200</integer>
		<integer>195</integer>
		<integer>190</integer>
		<integer>185</integer>
		<integer>180</integer>
		<integer>175</integer>
		<integer>170</integer>
		<integer>165</integer>
		<integer>160</integer>
		<integer>155</integer>
		<integer>150</integer>
		<integer>145</integer>
		<integer>140</integer>
		<integer>135</integer>
		<integer>130</integer>
		<integer>125</integer>
		<integer>120</integer>
		<integer>115</integer>
		<integer>110</integer>
		<integer>105</integer>
		<integer>100</integer>
		<integer>95</integer>
		<integer>90</integer>
		<integer>85</integer>
		<integer>80</integer>
		<integer>75</integer>
		<integer>70</integer>
		<integer>65</integer>
		<integer>60</integer>
		<integer>55</integer>
		<integer>50</integer>
		<integer>45</integer>
		<integer>40</integer>
		<integer>35</integer>
		<integer>30</integer>
		<integer>25</integer>
		<integer>20</integer>
		<integer>15</integer>
		<integer>10</integer>
		<integer>5</integer>
		<integer>0</integer>
	</array>
	<key>Red</key>
	<array>
		<integer>255</integer>
		<integer>250</integer>
		<integer>245</integer>
		<integer>240</integer>
		<integer>235</integer>
		<integer>230</integer>
		<integer>225</integer>
		<integer>220</integer>
		<integer>215</integer>
		<integer>210</integer>
		<integer>205</integer>
		<integer>200</integer>
		<integer>195</integer>
		<integer>190</integer>
		<integer>185</integer>
		<integer>180</integer>
		<integer>175</integer>
		<integer>170</integer>
		<integer>165</integer>
		<integer>160</integer>
		<integer>155</integer>
		<integer>150</integer>
		<integer>145</integer>
		<integer>140</integer>
		<integer>135</integer>
		<integer>130</integer>
		<integer>125</integer>
		<integer>120</integer>
		<integer>115</integer>
		<integer>110</integer>
		<integer>105</integer>
		<integer>100</integer>
		<integer>95</integer>
		<integer>90</integer>
		<integer>85</integer>
		<integer>80</integer>
		<integer>75</integer>
		<integer>70</integer>
		<integer>65</integer>
		<integer>60</integer>
		<integer>55</integer>
		<integer>50</integer>
		<integer>45</integer>
		<integer>40</integer>
		<integer>35</integer>
		<integer>30</integer>
		<integer>25</integer>
		<integer>20</integer>
		<integer>15</integer>
		<integer>10</integer>
		<integer>5</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>10</integer>
		<integer>15</integer>
		<integer>20</integer>
		<integer>25</integer>
		<integer>30</integer>
		<integer>35</integer>
		<integer>40</integer>
		<integer>45</integer>
		<integer>50</integer>
		<integer>55</integer>
		<integer>60</integer>
		<integer>65</integer>
		<integer>70</integer>
		<integer>75</integer>
		<integer>80</integer>
		<integer>85</integer>
		<integer>90</integer>
		<integer>95</integer>
		<integer>100</integer>
		<integer>105</integer>
		<integer>110</integer>
		<integer>115</integer>
		<integer>120</integer>
		<integer>125</integer>
		<integer>130</integer>
		<integer>135</integer>
		<integer>140</integer>
		<integer>145</integer>
		<integer>150</integer>
		<integer>155</integer>
		<integer>160</integer>
		<integer>165</integer>
		<integer>170</integer>
		<integer>175</integer>
		<integer>180</integer>
		<integer>185</integer>
		<integer>190</integer>
		<integer>195</integer>
		<integer>200</integer>
		<integer>205</integer>
		<integer>210</integer>
		<integer>215</integer>
		<integer>220</integer>
		<integer>225</integer>
		<integer>230</integer>
		<integer>235</integer>
		<integer>240</integer>
		<integer>245</integer>
		<integer>250</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
</dict>
</plist>
