<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>16bitClutColors</key>
	<array>
		<array>
			<dict>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.42801555991172791</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.42801555991172791</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.42801555991172791</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.42801555991172791</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.42801555991172791</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.99920654296875</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
		</array>
	</array>
	<key>16bitClutCurves</key>
	<array>
		<array>
			<dict>
				<key>x</key>
				<real>-713.843994140625</real>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-653.980712890625</real>
				<key>y</key>
				<real>0.20899984240531921</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-640.249267578125</real>
				<key>y</key>
				<real>0.28999966382980347</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-590.3348388671875</real>
				<key>y</key>
				<real>0.20899984240531921</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-544.6475830078125</real>
				<key>y</key>
				<real>0.20899984240531921</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<real>72.294891357421875</real>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>x</key>
				<real>164.57276916503906</real>
				<key>y</key>
				<real>0.33399978280067444</real>
			</dict>
			<dict>
				<key>x</key>
				<real>262.6788330078125</real>
				<key>y</key>
				<real>0.33399978280067444</real>
			</dict>
			<dict>
				<key>x</key>
				<real>333.10153198242188</real>
				<key>y</key>
				<real>0.33399978280067444</real>
			</dict>
		</array>
	</array>
	<key>CLUT</key>
	<string>16-bit CLUT</string>
	<key>advancedCLUT</key>
	<true/>
	<key>backgroundColorBlueComponent</key>
	<real>0.0</real>
	<key>backgroundColorGreenComponent</key>
	<real>0.0</real>
	<key>backgroundColorRedComponent</key>
	<real>0.0</real>
	<key>convolutionFilters</key>
	<array>
		<string>Basic Smooth 5x5</string>
	</array>
	<key>groupName</key>
	<string>Bone CT</string>
	<key>name</key>
	<string>Bone + Skin</string>
	<key>opacity</key>
	<string>Logarithmic Inverse Table</string>
	<key>projection</key>
	<integer>1</integer>
	<key>shading</key>
	<string>Default</string>
	<key>useShading</key>
	<false/>
	<key>wl</key>
	<real>-629.24578857421875</real>
	<key>ww</key>
	<real>169.1964111328125</real>
</dict>
</plist>
