<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>16bitClutColors</key>
	<array>
		<array>
			<dict>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>0.20000000298023224</real>
				<key>green</key>
				<real>0.20000000298023224</real>
				<key>red</key>
				<real>0.20000000298023224</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
		</array>
	</array>
	<key>16bitClutCurves</key>
	<array>
		<array>
			<dict>
				<key>x</key>
				<real>46.733612060546875</real>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>x</key>
				<real>134.97621154785156</real>
				<key>y</key>
				<real>0.25999999046325684</real>
			</dict>
			<dict>
				<key>x</key>
				<real>244.72689819335938</real>
				<key>y</key>
				<real>0.5300024151802063</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<real>-812.04962158203125</real>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-622.0498046875</real>
				<key>y</key>
				<real>0.1643165796995163</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-420.04998779296875</real>
				<key>y</key>
				<real>0.36469146609306335</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-262.84738159179688</real>
				<key>y</key>
				<real>0.0</real>
			</dict>
		</array>
	</array>
	<key>CLUT</key>
	<string>16-bit CLUT</string>
	<key>advancedCLUT</key>
	<true/>
	<key>backgroundColorBlueComponent</key>
	<real>1</real>
	<key>backgroundColorGreenComponent</key>
	<real>1</real>
	<key>backgroundColorRedComponent</key>
	<real>1</real>
	<key>convolutionFilters</key>
	<array/>
	<key>groupName</key>
	<string>Bone CT</string>
	<key>name</key>
	<string>Dark Bone</string>
	<key>opacity</key>
	<string>Linear Table</string>
	<key>projection</key>
	<integer>1</integer>
	<key>shading</key>
	<string>Default</string>
	<key>useShading</key>
	<false/>
	<key>wl</key>
	<real>145.73025512695312</real>
	<key>ww</key>
	<real>197.9932861328125</real>
</dict>
</plist>
