<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>16bitClutColors</key>
	<array>
		<array>
			<dict>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.9992523193359375</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.9992523193359375</real>
				<key>red</key>
				<real>1</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
		</array>
	</array>
	<key>16bitClutCurves</key>
	<array>
		<array>
			<dict>
				<key>x</key>
				<real>-104.603271484375</real>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>x</key>
				<real>266.51864624023438</real>
				<key>y</key>
				<real>0.25999999046325684</real>
			</dict>
			<dict>
				<key>x</key>
				<real>728.0977783203125</real>
				<key>y</key>
				<real>0.5300024151802063</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<real>-812.04962158203125</real>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-622.0498046875</real>
				<key>y</key>
				<real>0.1643165796995163</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-420.04998779296875</real>
				<key>y</key>
				<real>0.36469146609306335</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-262.84738159179688</real>
				<key>y</key>
				<real>0.0</real>
			</dict>
		</array>
	</array>
	<key>CLUT</key>
	<string>16-bit CLUT</string>
	<key>advancedCLUT</key>
	<true/>
	<key>backgroundColorBlueComponent</key>
	<real>0.0</real>
	<key>backgroundColorGreenComponent</key>
	<real>0.0</real>
	<key>backgroundColorRedComponent</key>
	<real>0.0</real>
	<key>convolutionFilters</key>
	<array>
		<string>Basic Smooth 5x5</string>
	</array>
	<key>groupName</key>
	<string>Bone CT</string>
	<key>name</key>
	<string>Gold Bone</string>
	<key>opacity</key>
	<string>Linear Table</string>
	<key>projection</key>
	<integer>1</integer>
	<key>shading</key>
	<string>Glossy Bone</string>
	<key>useShading</key>
	<true/>
	<key>wl</key>
	<real>311.74725341796875</real>
	<key>ww</key>
	<real>832.7010498046875</real>
</dict>
</plist>
