<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>16bitClutColors</key>
	<array>
		<array>
			<dict>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.98785382509231567</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.98785382509231567</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.98785382509231567</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>0.98785382509231567</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.0</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>0.0</real>
				<key>green</key>
				<real>0.99920654296875</real>
				<key>red</key>
				<real>1</real>
			</dict>
			<dict>
				<key>blue</key>
				<real>1</real>
				<key>green</key>
				<real>1</real>
				<key>red</key>
				<real>1</real>
			</dict>
		</array>
	</array>
	<key>16bitClutCurves</key>
	<array>
		<array>
			<dict>
				<key>x</key>
				<real>-923.2498779296875</real>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-733.2503662109375</real>
				<key>y</key>
				<real>0.086646988987922668</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-531.25048828125</real>
				<key>y</key>
				<real>0.27084481716156006</real>
			</dict>
			<dict>
				<key>x</key>
				<real>-372.8206787109375</real>
				<key>y</key>
				<real>0.0</real>
			</dict>
		</array>
		<array>
			<dict>
				<key>x</key>
				<real>142.259033203125</real>
				<key>y</key>
				<real>0.0</real>
			</dict>
			<dict>
				<key>x</key>
				<real>332.25927734375</real>
				<key>y</key>
				<real>0.3633459210395813</real>
			</dict>
			<dict>
				<key>x</key>
				<real>534.2587890625</real>
				<key>y</key>
				<real>0.56372088193893433</real>
			</dict>
			<dict>
				<key>x</key>
				<real>679.2587890625</real>
				<key>y</key>
				<real>0.96987384557723999</real>
			</dict>
		</array>
	</array>
	<key>CLUT</key>
	<string>16-bit CLUT</string>
	<key>advancedCLUT</key>
	<true/>
	<key>backgroundColorBlueComponent</key>
	<real>1</real>
	<key>backgroundColorGreenComponent</key>
	<real>0.97856110334396362</real>
	<key>backgroundColorRedComponent</key>
	<real>0.0</real>
	<key>convolutionFilters</key>
	<array>
		<string>Basic Smooth 5x5</string>
	</array>
	<key>groupName</key>
	<string>Soft Tissue CT</string>
	<key>name</key>
	<string>Skin On Blue</string>
	<key>opacity</key>
	<string>Linear Table</string>
	<key>projection</key>
	<integer>1</integer>
	<key>shading</key>
	<string>Default</string>
	<key>useShading</key>
	<true/>
	<key>wl</key>
	<real>-648.0352783203125</real>
	<key>ww</key>
	<real>550.42919921875</real>
</dict>
</plist>
