<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLUT</key>
	<string>Stern</string>
	<key>advancedCLUT</key>
	<false/>
	<key>backgroundColorBlueComponent</key>
	<real>0.0</real>
	<key>backgroundColorGreenComponent</key>
	<real>0.0</real>
	<key>backgroundColorRedComponent</key>
	<real>0.0</real>
	<key>convolutionFilters</key>
	<array>
		<string>Basic Smooth 5x5</string>
	</array>
	<key>groupName</key>
	<string>Soft Tissue CT</string>
	<key>name</key>
	<string>Vascular</string>
	<key>opacity</key>
	<string>Logarithmic Inverse Table</string>
	<key>projection</key>
	<integer>1</integer>
	<key>shading</key>
	<string>Endoscopy</string>
	<key>useShading</key>
	<true/>
	<key>wl</key>
	<real>362.950439453125</real>
	<key>ww</key>
	<real>388.8092041015625</real>
</dict>
</plist>
