<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Blue</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>102</integer>
		<integer>102</integer>
		<integer>102</integer>
		<integer>102</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>187</integer>
		<integer>187</integer>
		<integer>187</integer>
		<integer>187</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>187</integer>
		<integer>187</integer>
		<integer>187</integer>
		<integer>187</integer>
		<integer>187</integer>
		<integer>187</integer>
		<integer>187</integer>
		<integer>187</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>71</integer>
		<integer>71</integer>
		<integer>71</integer>
		<integer>71</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Green</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>51</integer>
		<integer>51</integer>
		<integer>51</integer>
		<integer>51</integer>
		<integer>51</integer>
		<integer>51</integer>
		<integer>51</integer>
		<integer>51</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>185</integer>
		<integer>185</integer>
		<integer>185</integer>
		<integer>185</integer>
		<integer>185</integer>
		<integer>185</integer>
		<integer>185</integer>
		<integer>185</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>187</integer>
		<integer>187</integer>
		<integer>187</integer>
		<integer>187</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>170</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>153</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>51</integer>
		<integer>51</integer>
		<integer>51</integer>
		<integer>51</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Red</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>85</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>119</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>136</integer>
		<integer>102</integer>
		<integer>102</integer>
		<integer>102</integer>
		<integer>102</integer>
		<integer>68</integer>
		<integer>68</integer>
		<integer>68</integer>
		<integer>68</integer>
		<integer>68</integer>
		<integer>68</integer>
		<integer>68</integer>
		<integer>68</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>102</integer>
		<integer>102</integer>
		<integer>102</integer>
		<integer>102</integer>
		<integer>187</integer>
		<integer>187</integer>
		<integer>187</integer>
		<integer>187</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>238</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>221</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>204</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
		<integer>255</integer>
	</array>
</dict>
</plist>
